.input-box {
    background: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid dodgerblue;
    outline: none;
    width: 90%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
}

.input-box[type=range] {
    padding: 0;
    width: 94%;
}

.input-container input[type=checkbox] {
    appearance: none;
}

.input-container .box {
    width: 50px;
    height: 30px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.10);
    display: grid;
    justify-content: start;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

.input-container .box.active {
    justify-content: end;
    background: rgba(30, 144, 255, 0.8);
}

.input-container .dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
    transition: 0.3s;
}

.input-container {
    display: grid;
    grid-auto-flow: row;
    gap: 8px;
}

.save-btn-container {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 15px;
    width: 96%;
}

.save-btn-container button,
.save-btn-container .file-save-btn {
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.save-btn-container button:nth-child(1),
.save-btn-container button,
.save-btn-container .file-save-btn {
    background: dodgerblue;
}

.save-btn-container button:nth-child(2) {
    background: orange;
    display: none;
}