.input-box {
    background: rgba(0, 0, 0, 0.10);
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid dodgerblue;
    outline: none;
    width: 90%;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
}

.input-container input[type=checkbox] {
    appearance: none;
}

.input-container .box {
    width: 50px;
    height: 30px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.10);
    display: grid;
    justify-content: start;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

.input-container .box.active {
    justify-content: end;
    background: rgba(30, 144, 255, 0.8);
}

.input-container .dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
    transition: 0.3s;
}

.input-container {
    display: grid;
    grid-auto-flow: row;
    gap: 8px;
}