.cards-container {
    width: 97%;
    height: 83vh;
    display: grid;
    grid-template-columns: repeat(6, auto);
    overflow-y: scroll;
    gap: 30px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: stretch;
    align-content: start;
    padding: 15px 10px;
}

.cards::-webkit-scrollbar {
    display: none;
}

.card {
    background: var(--background);
    min-width: 100px;
    height: 130px;
    border-radius: 10px;
    box-shadow:
        0 0 20px rgba(30, 144, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover,
.card.active {
    box-shadow: 0 0 0px 3px #fff,
        0 0 0px 6px dodgerblue,
        0 0 20px rgba(30, 144, 255, 1);
}


.horizental-cards-container {
    display: grid;
    grid-template-columns: 40px auto 40px;
    gap: 15px;
    padding: 0 25px;
    justify-content: stretch;
    align-items: center;
}

.sub-horizental-cards-container {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    padding: 15px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sub-horizental-cards-container::-webkit-scrollbar {
    display: none;
}

.arrow-for-scroll {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.left-arrow-for-scroll {
    transform: rotate(180deg);
}