.dashboard {
    display: grid;
    grid-template-columns: 32% auto;
    gap: 10px;
    justify-content: stretch;
}

.dashboard .left-sub-container {
    display: grid;
    grid-template-rows: 10% 50% 40%;
    justify-items: center;
}

.dashboard .left-sub-container .empty-container {
    background: #fff;
    width: 85%;
    height: 90%;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.dashboard .right-sub-container {
    display: grid;
    grid-auto-flow: row;
}

.dashboard .mini-states-container {
    margin-left: 0;
}

.teachers-details-container {
    display: grid;
    grid-template-rows: 19% 60% 11%;
    background: #fff;
    align-content: space-evenly;
    border-radius: 12px;
}

.time-table-wrapper {
    padding: 0 25px;
}

.sem-and-subject-container .heading,
.time-table-wrapper .heading {
    font-size: 18px;
    font-weight: bold;
}

.teacher-time-table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 85% !important;
    margin-top: 10px;
}

.teacher-time-table .period-times-container,
.teacher-time-table .day-name,
.teacher-time-table .period-details-container {
    font-size: 12px;
}

.dashboard .time-table-container {
    padding-bottom: 20px;
}


.sem-and-subject-container {
    display: grid;
    grid-template-columns: auto 50%;
    padding: 0 25px;
    border-radius: 12px;
    justify-content: start;
    gap: 20px;
}

.sem-container,
.subject-container {
    background: rgba(240, 247, 255, 1);
    padding: 10px 20px;
    border-radius: 12px;
}

.sub-sem-container,
.sub-subject-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.sem,
.subject {
    background: rgba(30, 144, 255, 0.6);
    border-radius: 5px;
    color: #fff;
    padding: 0 5px;
}

.dashboard .sub-horizental-cards-container {
    justify-content: start;
    gap: 20px;
}