.dashboard .top-sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 32% auto;
    gap: .7rem;
    box-sizing: border-box;
    overflow: unset;
}

.dashboard .left-sub-container {
    gap: 1rem;
    justify-items: center;
}

.dashboard .left-sub-container .empty-container {
    background: #fff;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dashboard .basic-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 90%;
}

.dashboard .basic-details .basic-details-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.dashboard .basic-details .basic-details-container .container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

.dashboard .basic-details .container .sub-container {
    background: #fff;
    border-radius: 7px;
    display: grid;
    align-items: center;
}

.dashboard .basic-details .basic-details-container .container .value {
    font-size: 22px;
    font-weight: bold;
    padding: 0 10px;
    padding-bottom: 5px;
    color: dodgerblue;
}

.dashboard .basic-details .basic-details-container .container .title {
    padding: 0 10px;
    padding-bottom: 0;
}

.dashboard .right-sub-container {
    display: grid;
    grid-auto-flow: row;
}

.dashboard .mini-states-container {
    margin-left: 0;
}

.teachers-details-container {
    display: grid;
    grid-template-rows: 19% 60% 11%;
    background: #fff;
    align-content: space-evenly;
    border-radius: 12px;
}

.time-table-wrapper {
    padding: 0 25px;
}

.sem-and-subject-container .heading,
.time-table-wrapper .heading {
    font-size: 18px;
    font-weight: bold;
}

.teacher-time-table {
    background: #f0f7ff;
    height: 85% !important;
    margin-top: 10px;
    padding: 10px 0;
}

.teacher-time-table .period-times-container,
.teacher-time-table .day-name,
.teacher-time-table .period-details-container {
    font-size: 12px;
}

.dashboard .time-table-container {
    padding-bottom: 20px;
}


.sem-and-subject-container {
    display: grid;
    grid-template-columns: auto 50%;
    padding: 0 25px;
    border-radius: 12px;
    justify-content: start;
    gap: 20px;
}

.sem-container,
.subject-container {
    background: rgba(240, 247, 255, 1);
    padding: 10px 20px;
    border-radius: 12px;
}

.sub-sem-container,
.sub-subject-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.sem,
.subject {
    background: rgba(30, 144, 255, 0.6);
    border-radius: 5px;
    color: #fff;
    padding: 0 5px;
}

.dashboard .sub-horizental-cards-container {
    justify-content: start;
    gap: 20px;
}

@media (max-width: 800px) {
    .dashboard .mini-states-container {
        display: none;
    }

    .dashboard .top-sub-container {
        grid-template-columns: none;
        grid-template-rows: 30% 67%;
        gap: 20px;
    }

    .dashboard .left-sub-container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-right: 1rem;
    }

    .dashboard .top-sub-container .right-sub-container {
        flex-grow: 1;
    }

    .teachers-details-container {
        grid-template-rows: 10% 80%;
    }

    .time-table-wrapper {
        padding: 0 5px;
    }

    .sem-and-subject-container {
        display: none;
    }
}

@media (max-width: 600px) {
    .teacher-time-table .period-times-container,
    .teacher-time-table .day-name,
    .teacher-time-table .period-details-container {
        font-size: 10px;
    }
}

@media (max-width: 480px) {

    .teacher-time-table .period-times-container,
    .teacher-time-table .day-name,
    .teacher-time-table .period-details-container {
        font-size: 8px;
    }

    .dashboard .horizental-cards-container {
        padding: 0 5px;
    }
}