.error-popups-container {
    position: fixed;
    top: 0;
    left: 50%;
    width: 200px;
    transform: translate(-50%, 0);
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.error-container {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 80% 20%;
    background: orange;
}