.files .top-sub-container {
    display: grid;
    grid-template-columns: 63% auto;
    gap: 10px;
}

.files .details-container {
    height: 80%;
}

@media (max-width: 680px) {
    .files .top-sub-container {
        grid-template-rows: 65% auto;
    }
}