.menubar-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    z-index: 5;
}

.app.active {
    grid-template-columns: 10% auto;
}

.menus-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
}

.menubar-container .title {
    font-size: 1.5rem;
    color: #1479FF;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.menubar-container .toggle-menubar-icon {
    fill: #1479FF;
    background: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 16%;
    padding: 7px;
    cursor: pointer;
    transform: rotate(180deg);
    border-radius: 7px 0 0 7px;
    transition: 0.3s;
}

.app.active .menubar-container .toggle-menubar-icon {
    transform: rotate(0);
    left: 10%;
    border-radius: 0 7px 7px 0;
}

.menu-container {
    display: grid;
    grid-template-columns: 20% 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: 0.3s;
}

.app.active .menu-container {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    justify-items: center;
    font-size: 14px;
    gap: 5px;
}

.menu-container .icon {
    width: 25px;
    height: 25px;
    background: #f0f7ff;
    fill: #1479FF;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.menu-container:hover .icon {
    box-shadow: 0px 8px 15px #74757596;
}

.menu-container#active .icon {
    fill: #fff;
    background: #1479FF;
    box-shadow: 0px 8px 15px #147aff96;
}

.menu-container:hover {
    color: #59a1ff;
}

.menu-container#active {
    color: #1479FF;
}

@media (max-width: 1250px) {
    .menubar-container .title {
        font-size: 1.1rem;
    }
}

@media (max-width: 800px) {
    .menubar-container .title {
        font-size: 1.5rem;
    }

    .menubar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 90%;
        transition: 0.3s;
        box-shadow: 0 0 5px 80px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }

    .app.active {
        grid-template-columns: 0px auto;
    }

    .app.active .menubar-container {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
        transform: translate(-100%, 0);
    }

    .menubar-container .toggle-menubar-icon {
        position: fixed;
        top: 0;
        left: 90%;
    }

    .app.active .menubar-container .toggle-menubar-icon {
        left: 100%;
    }

    .menu-container svg {
        display: grid;
        justify-self: right;
    }

    .menu-container div {
        margin-left: 25px;
    }
}