.search-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    border-radius: 20px;
    max-height: 35px;
    transition: 0.3s;
    box-sizing: border-box;
    color: var(--textColor);
}

.search-container.active {
    border: 1.5px solid dodgerblue;
}

.search-container.active svg:last-child,
.search-container.active input {
    display: grid;
}

.search-container svg:last-child,
.search-container input {
    display: none;
}

.search-container svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: var(--textColor);
}

.search-container input {
    border: none;
    outline: none;
    background: transparent;
    color: var(--textColor);
}