.tag-input-container {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    max-height: 7rem;
    border: 2px solid var(--borderColor);
    background: rgba(0, 0, 0, 0.05);
}

.tag-input-container:has(input:focus) {
    border-color: var(--accentColor);
}

.tag-input-container .tags-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag-input-container .tag {
    display: inline-flex;
    background-color: var(--tagBgColor);
    color: var(--textColor);
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.tag-input-container input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    background: transparent;
}

.tag-input-container input[type="text"]:focus {
    outline: none;
}

.tag-input-container .delete-tag-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--tagIconColor);
    background: rgba(0, 0, 0, 0.05);
    transform: rotate(45deg);
    margin-left: 5px;
    width: 18px;
    height: 18px;
    font-size: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}

.tag-input-container .delete-tag-btn:hover {
    background: var(--borderColor);
}