.tag-input-container {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    max-height: 7rem;
    border-bottom: 2px solid dodgerblue;
    background: rgba(0, 0, 0, 0.10);
}

.tag-input-container .tags-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tag-input-container .tag {
    display: inline-flex;
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag-input-container input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
    background: transparent;
}

.tag-input-container input[type="text"]:focus {
    outline: none;
}

.tag-input-container .delete-tag-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.50);
    background: rgba(0, 0, 0, 0.05);
    transform: rotate(45deg);
    margin-left: 5px;
    width: 18px;
    height: 18px;
    font-size: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}

.tag-input-container .delete-tag-btn:hover {
    background: rgba(0, 0, 0, 0.10);
}