.teachers .top-sub-container {
    display: grid;
    grid-template-columns: 63% auto;
    gap: 10px;
}

.tools-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 0 35px;
    padding-left: 0;
}

.details-container {
    background: var(--background);
    border-radius: 15px;
    padding: 25px;
    padding-right: 10px;
    height: 92%;
    width: 92%;
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
    align-content: start;
}

.details-container .inputs-container-heading {
    font-size: 20px;
    font-weight: bold;
}

.time-table-container {
    display: grid;
    grid-auto-flow: row;
}

.time-selector {
    width: 98%;
}

.periods-container {
    display: grid;
    grid-auto-flow: column;
}

.period {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    transition: 0.3s;
}

@media (max-width: 1150px) {
    .period {
        width: 20px;
        height: 20px;
    }
}

.period.selected {
    color: #fff;
    background: dodgerblue;
}