.time-table.main-container {
    display: grid;
    grid-template-rows: 10% 50px auto;
    padding: 0 20px;
}

.time-table .time-table-container {
    background: #fff;
    height: 95%;
    padding-bottom: 20px;
}

.time-table .menubar {
    display: grid;
    grid-template-columns: 35% auto;
    align-items: center;
}

.horizental-cards-container.sem-cards-container {
    padding-bottom: 20px;
}

.sem-cards-container .card {
    height: 40px;
}

.buttons-container,
.main-btn-container,
.section-btn-container {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
}

.main-btn-container {
    justify-content: space-between;
}

.buttons-container {
    justify-content: start;
}

.buttons-container .card,
.section-btn-container .card {
    height: 40px;
    padding: 0 18px;
}

.section-btn-container .card {
    width: 20px;
    min-width: 0;
}



.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    z-index: 20;
}

.loader .outer-circle,
.loader .inner-circle {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid transparent;
}

.loader .outer-circle {
    width: 300px;
    height: 300px;
    border-left: 8px solid rgba(30, 144, 255, 1);
    border-top: 8px solid rgba(30, 144, 255, 1);
    animation: rotateCircle 1s linear infinite reverse;
}

.loader .inner-circle {
    width: 200px;
    height: 200px;
    border-left: 8px solid orange;
    border-top: 8px solid orange;
    animation: rotateCircle 1s linear infinite;
}

@keyframes rotateCircle {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.teacher-subject-selector-container {
    width: 80%;
    height: 90%;
    border-radius: 20px;
    grid-template-rows: 90% 6%;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    gap: 10px;
    background: #fff;
    z-index: 10;
    padding: 15px;
    transition: 0.3s;
}

.teacher-subject-selector-container.active {
    top: 50%;
}

.teacher-subject-selector-container-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    scale: 0;
    transition: 0.3s;
}

.teacher-subject-selector-container-bg.active {
    scale: 1;
}

.teacher-subject-card-container {
    width: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 1%;
    justify-content: space-evenly;
}

.teacher-subject-card-container .cards-container {
    background: #f0f7ff;
    height: 75.5vh;
    ;
    grid-template-columns: repeat(5, auto);
    border-radius: 10px;
    gap: 15px;
}

@media (max-width: 1495px) {
    .teacher-subject-card-container .cards-container {
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 1180px) {
    .teacher-subject-card-container .cards-container {
        grid-template-columns: repeat(3, auto);
    }
}

.teacher-subject-selector-btns-container {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    justify-content: end;
}

.teacher-subject-selector-btns-container button {
    border: 2px solid dodgerblue;
    border-radius: 8px;
    background: #fff;
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
}

.teacher-subject-selector-btns-container button:nth-child(1) {
    background: dodgerblue;
    color: #fff;
}