.top-input-container {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
}

.time-table-structure-inputs-container {
    background: #fff;
    padding: 20px;
    height: 85%;
    border-radius: 15px;
    margin-top: 20px;
    display: grid;
    grid-template-rows: auto auto auto 30px;
    align-content: space-around;
}

.time-table-structure-inputs-container .mid-input-container .input-box,
.time-table-structure-inputs-container .bottom-input-container .input-box {
    width: 95%;
}