.working-hour-barchat-container-wrapper {
    display: grid;
    grid-template-rows: 30px auto;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.working-hour-barchat-container-wrapper .title {
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    margin-top: 0;
}

.working-hour-barchat-container {
    background: var(--containerColor);
    color: var(--textColor);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.bar-container {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 75% 10%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: end;
    gap: 5px;
}

.bar-container .bar {
    height: 100%;
    background: rgba(20, 121, 255, 0.1);
    box-shadow: 0 0 15px rgba(20, 121, 255, 0.07);
    width: 10px;
    border-radius: 5px;
    display: grid;
    align-items: end;
}

.bar-container .bar .inner-bar {
    background: rgba(20, 121, 255, 1);
    width: 100%;
    border-radius: 10px;
    border: 2px solid #fff;
    position: relative;
    left: -1.5px;
    box-shadow: 0 0 15px rgba(20, 121, 255, 0.15);
    transition: 0.3s;
}

.bar-container:nth-child(2) .bar .inner-bar {
    background: #14D2FF;
    box-shadow: 0 0 15px rgba(20, 210, 255, 0.15);
}

.bar-container:nth-child(3) .bar .inner-bar {
    background: #14A5FF;
    box-shadow: 0 0 15px rgba(20, 165, 255, 0.15);
}

.bar-container:nth-child(4) .bar .inner-bar,
.bar-container:nth-child(5) .bar .inner-bar {
    background: #36DBE6;
    box-shadow: 0 0 15px rgba(54, 219, 230, 0.15);
}

.bar-container .bar-title {
    display: grid;
    justify-content: center;
    text-align: center;
}

@media (max-width: 800px) {
    .working-hour-barchat-container-wrapper {
        min-height: 250px;
    }
}

@media (max-width: 480) {
    .working-hour-barchat-container {
        width: 94%;
    }
}