/* .dashboard.page {
    overflow-y: auto;
} */

.dashboard .top-sub-container {
    display: grid;
    grid-template-columns: 30% auto;
    gap: .7rem;
    box-sizing: border-box;
    overflow: unset;
}

.dashboard .left-sub-container {
    gap: 1rem;
    justify-items: center;
}

.dashboard .left-sub-container .empty-container {
    background: #fff;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dashboard .basic-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 90%;
}

.dashboard .basic-details .basic-details-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    flex-grow: 1;
}

.dashboard .basic-details .basic-details-container .container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
}

.dashboard .basic-details .container .sub-container {
    background: var(--containerColor);
    color: var(--textColor);
    border-radius: 7px;
    display: grid;
    align-items: center;
}

.dashboard .basic-details .basic-details-container .container .value {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 10px;
    padding-bottom: 5px;
    color: dodgerblue;
}

.dashboard .basic-details .basic-details-container .container .title {
    padding: 0 10px;
    padding-bottom: 0;
}

.dashboard .mini-states-container {
    margin-left: 0;
}

.teachers-details-container {
    background: var(--containerColor);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 25px;
    justify-content: space-between;
}

.dashboard .horizental-cards-container {
    min-height: 7rem;
}

.time-table-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sem-and-subject-container .heading,
.time-table-wrapper .heading {
    font-size: 18px;
    font-weight: bold;
}

.dashboard .teacher-time-table {
    background: var(--foregroudColor);
    color: var(--textColor);
    margin-top: 10px;
    padding-top: 10px;
}

.teacher-time-table .period-times-container,
.teacher-time-table .day-name,
.teacher-time-table .period-details-container {
    font-size: 12px;
}

.dashboard .time-table-container {
    padding-bottom: 20px;
}


.sem-and-subject-container {
    display: grid;
    grid-template-columns: auto 50%;
    border-radius: 12px;
    justify-content: start;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.sem-container,
.subject-container {
    background: var(--foregroudColor);
    padding: 10px 20px;
    border-radius: 12px;
    color: var(--textColor);
}

.sub-sem-container,
.sub-subject-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.sem,
.subject {
    background: #1E90FF;
    border-radius: 5px;
    color: #fff;
    padding: 2px 5px;
}

.dashboard .sub-horizental-cards-container {
    justify-content: start;
    gap: 20px;
}

@media (max-width: 800px) {
    .dashboard.page {
        overflow-y: auto;
    }

    .dashboard .mini-states-container {
        display: none;
    }

    .dashboard .top-sub-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .dashboard .left-sub-container {
        display: grid;
        /* margin-right: 1rem; */
    }

    .dashboard .top-sub-container .teachers-details-container {
        flex-grow: 1;
        padding: 0.5rem;
        grid-template-rows: 10% 80%;
    }

    .dashboard .horizental-cards-container {
        min-height: 4.5rem;
    }

    .time-table-wrapper {
        padding: 0 5px;
    }

    .sem-and-subject-container {
        display: none;
    }

    .dashboard .basic-details .basic-details-container .container .value {
        font-size: 1.2rem;
    }

    .dashboard .basic-details .basic-details-container .container .title {
        font-size: 0.9rem;
    }

}

@media (max-width: 600px) {

    .teacher-time-table .period-times-container,
    .teacher-time-table .day-name,
    .teacher-time-table .period-details-container {
        font-size: 10px;
    }
}

@media (max-width: 480px) {

    .teacher-time-table .period-times-container,
    .teacher-time-table .day-name,
    .teacher-time-table .period-details-container {
        font-size: 8px;
    }

    .dashboard .horizental-cards-container {
        padding: 0 5px;
    }
}