.subjects .top-sub-container {
    display: grid;
    grid-template-columns: 63% auto;
    gap: 10px;
}

.subjects .save-btn-container button {
    margin-top: 20px;
}

@media (max-width: 680px) {

    .subjects .right-sub-container {
        height: 95%;
    }
}