.teachers .top-sub-container {
    display: grid;
    grid-template-columns: 63% auto;
    gap: 10px;
}

.left-sub-container {
    display: flex;
    flex-direction: column;
}

.tools-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 0 35px;
    padding-left: 0;
}

.details-container {
    background: var(--containerColor);
    padding: 2rem;
    border-radius: 1rem;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
    align-content: start;
    margin: 0;
    color: var(--textColor);
}

.details-container input {
    color: var(--textColor);
}

.details-container .inputs-container-heading {
    font-size: 20px;
    font-weight: bold;
}

.time-selector {
    width: 100%;
}

.periods-container {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
}

.period {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 30px;
    border-radius: 5px;
    background: var(--borderColor);
    cursor: pointer;
    user-select: none;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    transition: 0.3s;
}

.period.selected {
    color: #fff;
    background: var(--accentColor);
}

@media (max-width: 1170px) {
    .tools-container {
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
    }
}

@media (max-width: 960px) {
    .details-container {
        padding: 1.1rem;
    }
}

@media (max-width: 680px) {
    .details-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 20px 100px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        height: 90%;
        width: 90%;
        display: none;
    }

    .details-container.active {
        display: grid;
    }

    .main-container.teachers,
    .main-container.subjects,
    .main-container.time-table-structure,
    .main-container.files {
        padding: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
    }

    .teachers .top-sub-container,
    .subjects .top-sub-container,
    .files .top-sub-container {
        grid-template-columns: none !important;
        gap: 10px;
    }

    .teachers .left-sub-container {
        grid-template-rows: 15% auto;
    }
}