.top-input-container {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
}

.time-table-structure-inputs-container {
    background: #fff;
    padding: 2rem;
    border-radius: 15px;
    margin-top: 20px;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto auto auto;
    align-content: space-around;
    overflow-x: auto;
}

.add-btn {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;
    font-weight: bold;
    height: 100%;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

@media (max-width: 550px) {
    .main-container {
        gap: 5px;
    }

    .top-input-container {
        grid-auto-flow: initial;
        gap: 15px;
    }
}