.top-input-container {
    display: grid;
    grid-auto-flow: column;
    align-items: start;
}

.time-table-structure-inputs-container input {
    color: var(--textColor);
}

.time-table-structure-inputs-container {
    background: var(--containerColor);
    padding: 2rem;
    border-radius: 15px;
    margin-top: 20px;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto auto auto;
    align-content: space-around;
    /* overflow-x: auto; */
    color: var(--textColor);
}

.add-btn {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;
    font-weight: bold;
    height: 100%;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

@media (max-width: 1055px) {
    .time-table-structure-inputs-container .top-input-container {
        grid-template-rows: none;
        display: flex;
        flex-direction: column;
    }

    .time-table-structure-inputs-container .top-input-container .input-container {
        width: 100%;
    }

    .time-table-structure-inputs-container .mid-input-container .input-grp,
    .time-table-structure-inputs-container .bottom-input-container .input-grp {
        grid-auto-flow: unset;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 550px) {
    .main-container {
        gap: 5px;
    }

    .top-input-container {
        grid-auto-flow: initial;
        gap: 15px;
    }
}

@media (max-width: 510px) {

    .time-table-structure-inputs-container .mid-input-container .input-grp,
    .time-table-structure-inputs-container .bottom-input-container .input-grp {
        grid-auto-flow: unset;
        grid-template-columns: auto;
    }
}