html {
	--background: #fff;
	--textColor: #000;
	--containerColor: rgba(235, 235, 235, 0.8);
}

.app {
	display: grid;
	height: 100vh;
	width: 100%;
	background: #f0f7ff;
	grid-template-columns: 16% auto;
	transition: 0.3s;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
	display: grid;
	grid-template-rows: 98% auto;
	max-height: 94vh;
	padding: 20px;
	gap: 10px;
	justify-content: stretch;
}